@page "/turkprofilslist"
<PageTitle>TurkProfil Details</PageTitle>

<h3>All Turk Profil Details</h3>

@if (turkProfils == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Profil Code</th>
                    <th>Profile Function</th>
                    <th>White Without Gasket (Rs./Ft)</th>
                    <th>White With Gasket (Rs./Ft)</th>
                    <th>Black Solid Color (Rs./Ft)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var profil in turkProfils)
                {
                    <tr>
                        <td>@profil.Id</td>
                        <td>@profil.ProfileCode</td>
                        <td>@profil.ProfileFunction</td>
                        <td>@profil.WhiteWithoutGasket</td>
                        <td>@profil.WhiteWithGasket</td>
                        <td>@profil.BlackSolidColor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<button class="btn btn-primary" @onclick="NavigateToAddTurkProfile">Add Turk Profil</button>

@code {
    private List<TurkProfilDetails> turkProfils;

    protected override async Task OnInitializedAsync()
    {
        turkProfils = await DalTurkProfilDetails.GetAllTurkProfilDetails();
    }

    private void NavigateToAddTurkProfile()
    {
        NavigationManager.NavigateTo("/addturkprofil");
    }
}
